AWS_ACCESS_KEY_ID=         # bedrock
AWS_SECRET_ACCESS_KEY=     # bedrock
BLOB_ACCESS_KEY_ID=        # documents
BLOB_SECRET_KEY=           # documents
BLOB_URL=                  # documents
COOKIE_SECRET=             # auth & cookie verification. Generate with `openssl rand -hex 32`
DATABASE_URL=              # database connection
DOMAIN=localhost           # auth & cookie
GOOGLE_APP_ID=             # auth only
GOOGLE_APP_SECRET=         # auth only
JWT_SECRET=                # auth & verification, use `openssl rand -hex 32`
MICROSOFT_CLIENT_ID=       # auth only
MICROSOFT_CLIENT_SECRET=   # auth only
POSTHOG_KEY=               # analytics
POSTMARK_KEY=              # email

# For tests only
DATABASE_URL_TEST=         # Test database (not persistent)
TEST_EVAL=                 # Enable evaluation tests
TEST_API=                  # Enable third party API tests
