@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

h1 {
  text-align: center;
  @apply text-xl font-bold;
}

h2 {
  text-align: center;
  @apply text-xl font-bold;
}

input {
  border: 1px solid;
  @apply gap-3 py-1 px-3 rounded-lg bg-white border-stone-300 transition-colors shadow focus:outline-none focus:border-brand-400;
}
